/* Tipografías (REVISAR) */

/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;1,600&display=swap');

/* Nunito Sans */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
}

body {
    color: darkslategray;
    background-color: #D9D9D9;
    font-size: 20px;
    line-height: 70px;
}

button {
    color: darkslategray;
    background-color: #D9D9D9;
    font-size: 1.25em;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 13px;
    padding-right: 13px;
    margin-top: 25px;
    transition-property: color, background-color, font-size; 
    transition-duration: 0.3s; 
}

button:hover {
    background-color: darkslategray;
    color: #D9D9D9;
    font-size: 1.5em;
}

p {
    font-weight: 400;
    font-size: 1.5em;
    font-family: 'Nunito Sans';
}

h1, h3, h2 {
    font-weight: 600;
    font-family: 'Poppins';
}

h1 {
    font-size: 2.75em;
    line-height: 80px;
    text-transform: uppercase;
}

h2, h3 {
    font-size: 2.0em;
    line-height: 70px;
}

main, header {
    width: 83.33%;
}

[src="imagenes/imagen-principal.jpg"] {
    width: 60%;
    height: auto;
    display: block;
    border-width: 2px;
    border-color: darkslategray;
    border-style: solid;
}

[src="imagenes/imagen-principal.jpg"]:hover {
    filter: drop-shadow(7px 7px rgba(10, 122, 153, 0.5)); 
}

main, header, [src="imagenes/imagen-principal.jpg"] {
    margin: auto;
}

div {
    width: 95%;
    display: flex;
    justify-content: space-between;
}

div img {
    width: 30%;
    border-width: 3.5px;
    border-color: darkslategray;
    border-style: solid; 
}

div img:hover {
    filter: drop-shadow(5px 5px rgba(10, 122, 153, 0.5));
}

a {
    color: #2c313f;
    text-decoration: none;
    display: block;
}

section {
    width: 100%; 
    margin-top: 150px;
    margin-bottom: 60px;
    justify-content: space-between;
    font-family: "Poppins", serif;
}


@media(max-width:768px) {

    div {
        width: 90%;
        margin-bottom: 50px;
    }

    body {
        font-size: 10px;
    }

    * {
        line-height: 40px !important;
    }

    section {
        margin-top: 50px;
        margin-bottom: 40px;
        
    }


}